# Supabase PostgreSQL connection string
DATABASE_URL=postgresql://postgres:r1nmZJmGQ6y8OzxY@db.oqolprkogqgeotayilqw.supabase.co:5432/postgres

# Upstash Redis configuration
UPSTASH_REDIS_REST_URL=https://uncommon-donkey-91093.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAWPVAAIncDE2Mzg4NTUxZjlkZTY0YWZmOTM5MmU1YmNlMDA4NjJmNHAxOTEwOTM

# Security and Application
SESSION_SECRET=
ADMIN_PANEL_KEY=
NODE_ENV=development
PORT=5000